version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: veridion-api-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: veridion_api
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5434:5432"
    volumes:
      - veridion_api_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  veridion_api_data:
